body {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    background-image: url(./backrooms.png);
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
    color:chocolate ;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: red;
}
p {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;

}

ul {
  font-size: 30px;
  text-align: center;
}

li {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

h3 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
